.ig{
  &__footer{
    padding: 4em 2em;
    background: $dark-gray;
    font-family: "acumin-pro",sans-serif;
    font-weight: 200;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    color: $white;
    @include mobile{
      display: block;
    }

    &__info{
      -webkit-flex: 1 100%;
      flex: 1 100%;
      width: 100%;
      text-align: center;
      h3{
        font-family: "industry";
        font-style: italic;
        font-weight: 600;
        display: block;
        margin-bottom: 0;
      }
      a{
        &:link, &:hover, &:active, &:visited{
          outline: none;
          border: none;
          cursor: pointer;
          color: $white;
          text-decoration: none;
        }
      }
      svg{
        height: 20px;
        width: 20px;
        fill: white;
      }
      @include mobile{
        margin-bottom: 2em;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
